:root {
  --side-margin: 40px;
  --body-bg-color: #ffffff;
  --card-bg-color: #fbfbfb;
  --text-color: #393a34;
  --border-radius: 8px;
  --box-shadow: 2px 4px 12px 4px rgb(0 0 0 / 0.2);

  --gradient-bg: #2f8a89;
  --font-size-headings: clamp(23px, 13vw, 42px);
  --font-size-name: clamp(16px, 8vw, 72px);
  font-size: clamp(14px, 1vw, 24px);
}

/* css reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

img {
  display: block;
}

a:has(iconify-icon) {
  height: 1em;
  margin: 8px;
  color: var(--body-text-color);

  & :visited {
    color: var(--body-text-color);
  }
}

/* 
* {
  outline: 1px solid gray;
} */

body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

header {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-image: linear-gradient(
    140deg,
    var(--gradient-bg) 35%,
    rgba(0, 0, 0, 0.4) 35.5%,
    white 35.8%,
    white
  );

  & .background {
    width: 100%;
    height: 120vw;
    background-color: var(--gradient-bg);
    position: absolute;
    z-index: -1;
    clip-path: polygon(0% 0%, 180% 0%, 0% 100%, 0% 50%);
    box-shadow: var(--box-shadow);
  }
}

.about-me-container {
  min-height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 10%;
}

.about-me {
  /* background-color: var(--body-bg-color); */
  display: flex;
  flex-direction: column;
  background-color: wheat;
  align-items: center;
  flex: 1 0 none;
  max-height: 70%;
  padding: 30px;
  font-size: 1.4rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  & h1 {
    font-family: serif;
    font-weight: 400;
    align-self: start;
    margin: 20px 0;
  }

  & .desc {
    line-height: 1.2lh;
    color: var(--body-text-color);
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  align-self: end;
}

.portrait-container {
  float: left;
  display: grid;
  grid-template-areas: "img";
  align-self: center;
  height: 75%;
  width: 100%;
  aspect-ratio: 1;
  flex: 0;
  z-index: 3;

  & img {
    grid-area: img;
    background-color: #e6eae9;
    border-radius: var(--border-radius);
    object-fit: cover;
    height: 100%;
    width: inherit;
    aspect-ratio: 1;
    box-shadow: var(--box-shadow);
  }

  & p {
    padding: 2px 8px;
    grid-area: img;
    align-self: end;
    justify-self: center;
    width: 100%;
    font-size: var(--font-size-name);
    text-align: center;
    color: var(--body-bg-color);
    text-shadow: 2px 2px 8px gray;
  }
}

h1 {
  font-family: serif;
  /* font-size: 2.5rem; */
  font-size: var(--font-size-headings);
}

main {
  margin: 0 var(--side-margin);
}

.project-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.project-card {
  background-color: var(--card-bg-color);
  box-shadow: var(--box-shadow);
  width: 30%;

  & img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gradient-bg);
    color: var(--card-bg-color);
    aspect-ratio: 1.5;
    padding: 0 20px;
    font-size: var(--font-size-headings);
  }
}

.project-text-container {
  display: grid;
  padding: 20px;
  grid-template: 1fr auto / 1fr auto;
  grid-template-areas:
    "title icons"
    "desc desc";

  & h3 {
    grid-area: title;
    font-size: 1.8rem;
  }

  & .icons {
    display: flex;
    align-items: center;
    grid-area: icons;
    display: flex;
    gap: 10px;
    justify-self: end;
    font-size: 1.8rem;
  }
}

.project-desc {
  margin-top: 10px;
  margin-bottom: 60px;
  grid-area: desc;
}

footer {
  background-color: var(--gradient-bg);
  color: white;
  display: flex;
  padding: 80px;

  & .icon-container {
    align-self: start;
  }

  & img {
    aspect-ratio: 2;
    object-fit: cover;
    flex: 2;
  }
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  margin: 0 var(--side-margin);
  flex: 1 0;
}

.request-text {
  font-size: 1.2rem;
  font-weight: bolder;
}