:root {
  --side-margin: 20px;
  --body-text-color: #565656;
  --gradient-bg: #0891b2;
}

/* css reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

* {
  outline: 1px solid gray;
}

body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

header {
  display: flex;
  flex-direction: column;

  & .background {
    width: 100%;
    height: 45vh;
    background-color: var(--gradient-bg);
    position: absolute;
    z-index: -1;
    clip-path: polygon(0% 0%, 180% 0%, 0% 100%, 0% 50%);
    box-shadow: 2px 2px 8px 2px gray;
  }
}

.portrait-container {
  display: grid;
  grid-template-areas: "img";
  align-self: center;
  margin: var(--side-margin);
  width: 80vw;

  & img {
    grid-area: img;
    border-radius: 16px;
    width: inherit;
  }

  & p {
    padding: 2px 8px;
    grid-area: img;
    align-self: end;
    justify-self: center;
    width: 100%;
    font-size: 13vw;
    color: white;
    text-shadow: 2px 2px 8px gray;
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  padding: 0 var(--side-margin);

  & p {
    line-height: 1.2lh;
    color: var(--body-text-color);
  }
}

h1 {
  font-family: serif;
  font-size: 2.5rem;
  margin: 10px auto;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 var(--side-margin);
  gap: 30px;
}

.project-card {
    background-color: white;
    box-shadow: 2px 4px 12px 4px rgb(0 0 0 / .15);

  & img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    aspect-ratio: 1.5;
    font-size: 3rem;
  }
}

.project-text-container {
  display: grid;
  padding: 20px;
  grid-template: 1fr auto / auto;
  grid-template-areas:
    "title icons"
    "desc desc";
    
    & h3 {
        grid-area: title;
    }
    
    & .icons {
        grid-area: icons;
        justify-self: end;
    }
}


.project-desc {
    margin-top: 10px;
    margin-bottom: 40px;
    grid-area: desc;
}
